<!-- 投稿されたやつをみるとこです（ログインとか登録したら一番に飛ぶ所） -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./css/home.css"> -->
    <link rel="stylesheet" href="./css/home.css" type="text/css"
    media="screen and (min-width: 1300px)">
    <link rel="stylesheet" href="./css/home_tiisai.css" type="text/css"
    media="screen and (max-width: 1299px)">
</head>
<body>
    <!-- 左側のプロフィール画面に飛ぶボタンがある所です一応Aタグで飛べるようにしますが、jsで飛べるようにも多分できます。 -->
    <!-- それっぽくサービス名つけときます！ -->
    <h1 id="app_name">pictuArt</h1>
    <div clsss="hidari_div">
        <!-- home.htmlにとぶリンクです -->
        <div id="home_link"><a href="./home.html"><img src="./img/家の無料アイコン.png" alt="home_img" id="home_img"><h1 id="home_text">ホーム</h1></a></div>
        <!-- プロフィールへ飛ぶリンクです -->
        <div id="pr_link"><a href="./pr.html"><img src="./img/人物アイコン.png" alt="pr_img" id="pr_img"><h1 id="pr_text">プロフィール</h1></a>
    </div>
    <!-- 真ん中の画像が出てくる場所 -->
    <div class="mannaka_div">
        <h1>投稿した絵を見れる</h1>
    </div>
</body>
</html>