<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./css/saisyo.css"> -->
    <link rel="stylesheet" href="./css/saisyo_tiisai.css">
    <!-- <link rel="stylesheet" href="./css/saisyo.css" type="text/css"
    media="screen and (min-width: 1300px)">
    <link rel="stylesheet" href="./css/saisyo_tiisai.css" type="text/css"
    media="screen and (max-width: 1299px)">
    <!-- <link rel="stylesheet" href="./css/saisyo_sokosoko.css" type="text/css" -->
    <!-- media="screen and (max-width: 1299px)"> --> 
</head>
<body>
    <!-- どんな方法でflaskやpythonで作るかわからないのでh１タグで作っておきますでもidでcssを整えるのでIDつけてあげたら見た目は整うと思います -->
    <div class="saisyo_div">
    <div id="sinki_div"><a href="./sinki.html"><h1 id="sinki_text">新規登録</h1></a></div>
    <div id="login_div"><a href="./login.html"><h1 id="login_text">ログイン</h1></a></div>
    <div id="notlogin_div"><a href="./home.html"><h1 id="notlogin_text">ログインせずに始める</h1></a></div>
    </div>
    
</body>
</html>