<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        {% for item in tpl_task_list %}
        <a href="/add">追加はこちら</a>
        <tr>
            <td>{{item['tpl_id']}}</td>
            <td>{{item['tpl_task']}}</td>
            <td>{{item['task_user_id']}}</td>
            <td><a href="/edit/{{item['tpl_id']}}">うんこをこねる</a></td>
            <td><a href="/del/{{item['tpl_id']}}">削除</a></td>
        </tr>
        
        {%endfor%}
            </table>
    
</body>
</html>