<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/saisyo.css">
</head>
<body>
    <div class="saisyo_gazou">
    <h1>:アイウエオ何か文章を書きたいと思いまし</h1>
    <h1>:アイウエオ説明などをしたいな</h1>
    <h1>:アイウエオ生かした言葉遣いでサイトを説明</h1>
    <h1>:アイウエオああああああ</h1>
    <h1>:アイウエオ</h1>
    </div>
    <div class="aaa">
        <img src="../img/カエル_img.png" alt="カエルの写真" title="カエル" id="kaeru_img">
    </div>
    <div id="saisyo2">
        <div id="saisyo3">
            <a href="./touroku.html" id="saisyo_sinki">新規登録</a>
            <a href="" id="saisyo_roguin">ログイン</a>
            <a href="../template/home.html" id="saisyo_rogusezu">ログインせずに始める</a>
        </div>
    </div>
</body>
</html>