<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../static/aa.css"> -->
    <script src="../static/jquery-3.6.0.min.js"></script>
    <script src="../static/common.js"></script>
    <link rel="stylesheet" href="../static/aa.css" type="text/css"
    media="screen and (min-width: 1100px)">
    <link rel="stylesheet" href="../static/aa_tiisai.css" type="text/css"
    media="screen and (max-width: 1099px)">
</head>
<body>
        <form action="/add" method="post">
          <input type="text" name="tpl_task" id="toukou_type">
          <input type="submit" value="{{toukou_suru}}" name="save" id="toukou">
  
      </form>  
      
